@import "../../../../styles/Variables.scss";

.wrapper {
	@include flex(center, center);
	@include size(100%, 90%);
	& > a {
		@include font(2.5rem, 700, 1.2, null, null, center, $ivory, null);
		transition: 0.07s linear color, 0.07s linear text-shadow;
		&:focus-within,
		&:hover {
			color: $white;
			text-shadow: 0 0 2rem hsla(0, 100%, 100%, 0.7);
		}
	}
}
