@import "../../../../../../../styles/Variables.scss";

.wrapper {
	@include size(6rem, 100%);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	box-shadow: inset 0 0 1rem rgba($black, 0.8);
	border: 2px solid rgba($slate, 0.82);
	border-radius: 2rem;
	overflow: hidden;
	& > button {
		@include font(2.2rem, 700, 1, capitalize, null, center, $ivory, null);
		@include size(100%, 100%);
		background-color: rgba($black, 0.4);
		margin: auto;
		position: relative;
		transition: 0.15s ease-in-out background-color;
		&:focus-within,
		&:hover {
			background-color: rgba($slate, 0.12);
		}
	}
}
