@import "../../../../../styles/Variables.scss";

.wrapper {
	p {
		display: none;
	}

	& > a {
		@include size(4.45rem, 4.5rem);
		box-shadow: 0 0 1rem hsla(0, 100%, 0%, 0);
		position: relative;
		transition: 0.11s ease-in-out box-shadow;
		&,
		& > span {
			@include flex(center, center);
		}
		& > span {
			@include size(100%, 100%);
			color: $verdigris;
			transition: 0.15s ease-in-out color;
			font-size: 2.4rem;
		}
		&::before {
			@include size(1.2px, 0%);
			bottom: 0;
			left: 0;
			transition: 0.11s ease-in-out width;
			background-color: $turqoise;
		}

		&:focus-within,
		&:hover {
			box-shadow: 0 0 1rem hsla(0, 100%, 0%, 0.4);
			& > span {
				color: $turqoise;
			}
			&::before {
				width: 100%;
			}
		}
	}
}

@media only screen {
	@media (min-width: 550px) {
		.wrapper {
			& > a {
				@include size(5rem, 5rem);
				& > span {
					font-size: 2.8rem;
				}
			}
		}
	}
	@media (min-width: 950px) {
		.wrapper {
			@include flex(center, flex-start, row nowrap, 0.15rem, null, true);
			margin: 0 auto;
			width: 90%;
			& > a {
				@include flex(center, flex-start);
				box-shadow: 0 0 1rem hsla(0, 100%, 0%, 0);
				background-color: $rasin-secondary;
				position: relative;
				border-radius: 0.4rem;
				overflow: hidden;
				transition: 0.11s ease-in-out box-shadow;
				width: 100%;

				& > p,
				& > span {
					transition: 0.11s ease-in-out color;
				}

				& > span {
					@include flex(center, center);
					@include size(4.35rem, 4.35rem);
					color: $verdigris;
					font-size: 2.4rem;
				}
				& > p {
					display: unset;
					font-size: 1.72rem;
				}
				&::before {
					@include size(1.7px, 0%);
					bottom: 0;
					left: 0;
					transition: 0.11s ease-in-out width;
					background-color: $turqoise;
				}

				&:focus-within,
				&:hover {
					box-shadow: 0 0 1rem hsla(0, 100%, 0%, 0.4);
					filter: brightness(115%);
					& > p,
					& > span {
						color: $turqoise;
					}
					&::before {
						width: 100%;
					}
				}
			}
		}
	}
}
