@import '../../../styles/Variables.scss';

.wrapper {
	@include flex(flex-start, space-between, column, 1rem, null, true);
	@include size(100vh, 100%);
	background-color: $rasin-primary;
	box-shadow: 0 0.5rem 0.2rem hsla(0, 100%, 0%, 0.75);
	// background-color: red;
	grid-column: 1/5;
	padding: 2.5rem 1.1rem;
	position: sticky;
	top: 0;
	& > * {
		width: 100%;
	}
	& > .brand {
		@include flex(center, center);
		// background: lime;
	}
	& > .menu {
		// background: purple;
	}
}
