@import "../../../../../../../styles/Variables.scss";

@mixin service($service, $color) {
	&[data-service="#{$service}"] {
		color: $color;

		&:focus-within,
		&:hover {
			box-shadow: 0 0 1rem 1rem rgba($color, 0.12);
			filter: brightness(120%);
		}
	}
}

.wrapper {
	@include flex(center, center);
	@include font(2.2rem, 500, 1, uppercase, null, center);
	border-radius: 1.2rem;
	padding: 1rem 2.5rem;
	cursor: default;
	transition: 0.12s linear box-shadow, 0.12s linear filter;
	@include service("ppc", $ppc);
	@include service("seo", $seo);
	@include service("www", $www);
}
