@import './Variables.scss';

body {
	align-content: start;
	align-self: start;
	justify-items: start;
	align-items: start;
	display: grid;
	grid-template-columns: repeat(24, 1fr);
}

.box {
	@include flex(flex-start, flex-start, column);
	grid-column: 5/-1;
	&,
	& > * {
		width: 100%;
	}
}
