@import "./Variables.scss";

body {
	// align-content: start;
	// align-self: start;
	// justify-items: start;
	align-items: start;
	display: grid;
	grid-template-rows: calc(100vh - 7rem) 7rem;
}

.nav {
	height: clamp(100%, 100%, 7rem);
	width: 100%;
	grid-row: 2;
	overflow-y: hidden;
}

.box {
	@include flex(flex-start, flex-start, column);
	grid-column: 4/-1;
	& > * {
		width: 100%;
	}
}
