$black: rgb(0, 0, 0);
$green: rgb(49, 141, 6);
$ivory: rgb(255, 255, 242);
$rasin-primary: rgb(24, 26, 35);
$rasin-secondary: rgb(34, 38, 53);
$rasin-tertiary: rgb(27, 30, 43);
$rasin-quatenary: rgb(41, 45, 62);
$rasin-quinary: rgb(18, 21, 32);
$red: rgb(204, 34, 0);
$slate: rgb(117, 124, 135);
$turqoise: rgb(36, 209, 194);
$verdigris: rgb(115, 181, 176);
$white: rgb(255, 255, 255);
$clicks: rgb(24, 191, 242);
$views: rgb(255, 0, 225);
$ctr: rgb(27, 222, 76);
$position: rgb(232, 255, 26);

@mixin flex(
	$align,
	$justify,
	$flow: null,
	$columnGap: null,
	$rowGap: null,
	$shrink: false
) {
	align-items: $align;
	display: flex;
	justify-content: $justify;
	@if $columnGap != null {
		column-gap: $columnGap;
	}
	@if $flow != null {
		flex-flow: $flow;
	}
	@if $rowGap != null {
		row-gap: $rowGap;
	}
	@if $shrink != false {
		& > * {
			flex-shrink: 0;
		}
	}
}

@mixin font(
	$size,
	$weight: 400,
	$lineHeight: null,
	$textTransform: null,
	$letterSpacing: null,
	$align: null,
	$color: null,
	$shadow: null
) {
	font-size: $size;
	font-weight: $weight;
	@if $lineHeight != null {
		line-height: $lineHeight;
	}
	@if $textTransform != null {
		text-transform: $textTransform;
	}
	@if $letterSpacing != null {
		letter-spacing: $letterSpacing;
	}
	@if $align != null {
		text-align: $align;
	}
	@if $color != null {
		color: $color;
	}
	@if $shadow != null {
		text-shadow: $shadow;
	}
}

@mixin positioning(
	$top: null,
	$right: null,
	$bottom: null,
	$left: null,
	$translateY: null,
	$translateX: null,
	$rotate: null,
	$zIndex: null,
	$position: null
) {
	@if $top!=null {
		top: $top;
	}
	@if $right!=null {
		right: $right;
	}
	@if $bottom!=null {
		bottom: $bottom;
	}
	@if $left!=null {
		left: $left;
	}
	@if $translateX != null {
		transform: translateX($translateX);
	}
	@if $translateY != null {
		transform: translateY($translateY);
	}
	@if $rotate != null {
		transform: rotate($rotate);
	}
	@if $translateX != null && $translateY != null {
		transform: translate($translateX, $translateY);
	}
	@if $translateX != null && $translateY != null && $rotate != null {
		transform: translate($translateX, $translateY) rotate($rotate);
	}
	@if $zIndex != null {
		z-index: $zIndex;
	}
	@if $position != null {
		position: $position;
	}
}

@mixin size($height: null, $width: null) {
	@if $height != null {
		height: $height;
	}
	@if $width != null {
		width: $width;
	}
}
