@import '../../../../styles/Variables.scss';

.wrapper {
	position: relative;
	width: clamp(15rem, 85rem, 95%);
	& > .form {
		@include flex(center, center);
		padding: 0;
		width: 100%;
		& > .field {
			@include font(1.8rem, 500);
			@include size(3.55rem, 100%);
			border-radius: 1rem;
			background-color: rgba($slate, 0.24);
			padding: 0 1.65rem;
			color: $white;
			&::placeholder {
				color: $slate;
			}
		}
	}
	& > .list {
		@include flex(flex-start, flex-start, column, null, 0.15rem, false);
		position: absolute;
		border-radius: 0 0 1rem 1rem;
		box-shadow: 0 0.6rem 0.6rem hsla(0, 100%, 0%, 0.25);
		background-color: $rasin-primary;
		width: clamp(15rem, 85rem, 100%);
		padding: 1rem 1.5rem;
		& > .item {
			@include size(3.5rem, 100%);
			border-bottom: 1.2px solid rgba($slate, 0.4);
			transition: 0.15s ease-in-out background-color;
			&:focus-within,
			&:hover {
				background-color: rgba($ivory, 0.05);
			}

			& > a {
				@include flex(center, flex-start);
				@include size(100%, 100%);
				padding: 0 1rem;
			}
		}
	}
}
