@import "../../../../../../../styles/Variables.scss";

@mixin themeButton($theme, $color) {
	&[data-theme="#{$theme}"] {
		border: 2px solid $color;
		color: $color;
		transition: 0.15s ease-in-out all;

		&[data-active="true"] {
			background-color: $color;
			color: $rasin-primary;
			transition: 0.15s ease-in-out all;
		}
	}
}

.wrapper {
	@include font(1.65rem, 600, 1, null, null, center, null, null);
	@include flex(center, center);
	padding: 0.65rem 1.2rem;
	border-radius: 0.45rem;

	@include themeButton("clicks", $clicks);
	@include themeButton("views", $views);
	@include themeButton("ctr", $ctr);
	@include themeButton("position", $position);
}
