@import "../../../../styles/Variables.scss";

.wrapper {
	width: 100%;
	& > ul {
		@include flex(center, center, row nowrap, 2rem);
		& > li {
			@include size(4.5rem, 4.5rem);
			&,
			& > a {
				@include flex(center, center);
			}
			& > a {
				@include size(100%, 100%);
				border: 2px solid $slate;
				border-radius: 1.15rem;
				color: $slate;
				font-size: 1.85rem;
				transition: 0.15s ease-in-out all;
				&:focus-within,
				&:hover {
					color: $ivory;
					filter: brightness(115%);
					transition: 0.15s ease-in-out all;
				}
			}
		}
	}
}
