@import "../../../../../../styles/Variables.scss";

.wrapper {
	background-color: $rasin-secondary;
	border-radius: 2rem;
	box-shadow: 0 0 1rem hsla(0, 100%, 0%, 0.5);
	padding: 2rem 2.3rem;
	margin: 1rem 2rem;
	width: 35rem;
	& > h3 {
		@include font(
			1.7rem,
			500,
			1.45,
			lowercase,
			-0.85px,
			start,
			$verdigris,
			null
		);
		transition: 0.15s ease-in-out color;
		&:focus-within,
		&:hover {
			color: $turqoise;
		}
	}
	& > ul {
		@include flex(baseline, space-around, row, 0.15rem, null, true);
		margin-top: 1rem;
		& > li {
			@include flex(center, center, column, 0.5rem, 0.5rem, true);
			// @include size(8rem, 8rem);
			margin: auto;
			& > span {
				font-size: 2.3rem;
			}
		}
	}
}
