@import '../../../../../../styles/Variables.scss';

.wrapper {
	background: darkgreen;
	padding: 1rem 1.1rem;
}

.buttons {
	@include flex(center, flex-start, row, 1rem, null, true);
}

.chart_box {
	margin-top: 2rem;
	background: black;
	& > .chart {
		@include size(45rem, 65rem);
	}
}
