@import "../../../../../../styles/Variables.scss";

$clicks: hsl(194, 89%, 52%);
$views: hsl(307, 100%, 50%);
$ctr: hsl(135, 78%, 49%);
$position: hsl(66, 100%, 55%);

@mixin themeButton($theme, $color) {
	&[data-theme="#{$theme}"] {
		border: 2px solid $color;
		color: $color;
		transition: 0.15s ease-in-out all;

		&[data-active="true"] {
			background-color: $color;
			color: $rasin-primary;
			transition: 0.15s ease-in-out all;
		}
	}
}

.button {
	@include font(2rem, 600, 1, null, null, center, null, null);
	@include flex(center, center);
	padding: 1.5rem 2rem;
	border-radius: 1.15rem;

	@include themeButton("clicks", $clicks);
	@include themeButton("views", $views);
	@include themeButton("ctr", $ctr);
	@include themeButton("position", $position);
}

.wrapper {
	background: darkgreen;
	padding: 1rem 1.1rem;
}

.buttons {
	@include flex(center, flex-start, row, 1rem, null, true);
}

.chart_box {
	margin-top: 2rem;
	background: black;
	& > .chart {
		@include size(45rem, 65rem);
	}
}
